input.mesends,
a.sliferlink,
a.btncartd {
    border: 1px solid transparent;
}

a.milixi:hover .cariorblockin {
background: #8d0f10;
    color: white;
}

.ltorcontactsl_bl2 a:hover {
text-decoration: underline;
color: #8D0F10;
}

a.milixi:hover .cariorblock2 {
    color: white;
}

a.milixi:hover .cariorblockin path {
    stroke: white;
}

input.jsblockord.btnreds:hover {
    color: #2F2F33;
    background: #ffffff;
    border: 1px solid #8D0F10;
}

a.anchor.js-stepblosk.current {
color: #8d0f10;
}

a.onmain:hover {
background: #8d0f10;
    color: white;
}

.headsblocks a:hover {
    color: #8d0f10;
}
.bgishill .headsblocks a:hover {
    opacity: 0.6;
    color: white;
}
.overpopmenu.fixed .headsblocks a:hover {
	opacity: 0.6;
	color: #8d0f10;
}
.headsblocks_navs ul li .menu_cat:hover .subcats{
    opacity: 1;
    pointer-events: all;
}
.bgishill .headsblocks_navs ul li .menu_cat:hover > a {
    color: #fff;
}
.overpopmenu.fixed .headsblocks_navs ul li .menu_cat:hover > a {
	opacity: 0.6;
	color: #8d0f10;
}
.headsblocks_navs ul li .menu_cat:hover::after{
    width: 320px;
}
.headsblocks_navs ul li .menu_cat .subcats a:hover{
    color: #8D0F10;
    opacity: 1;
}

.foots11 a:hover {
text-decoration: underline;
color: #8D0F10;
}

a.mainb_compare:hover {
    color: white;
    background: #8d0f10;
}
a.mainb_compare:hover span.incombtm3 {
    background: white;
    color: #8D0F10;
}
a.mainb_compare:hover svg path {
    stroke: white;
}
a.oneinprods_name:hover {
text-decoration: underline;
color: #8D0F10;
}

.nomenclatsblock a:hover {
    color: #8d0f10;
text-decoration: underline;
}

.footmenus ul a:hover {
    color: #8d0f10;
text-decoration: underline;
}

.agreetexts a:hover {
    color: #c60002;
}

.sliderbies_l:not(.slick-disabled):hover,
.sliderbies_r:not(.slick-disabled):hover {
border: 1px solid #8D0F10;
background: #8D0F10;
}


a.sliferlink:hover {
    color: #2F2F33;
    background: #ffffff;
    border: 1px solid #8D0F10;
}

a.btncartd:hover {
    color: #2F2F33;
    background: #ffffff;
    border: 1px solid #8D0F10;
}

a.btn_compare:hover {
    color: #2F2F33!important;
    background: #ffffff!important;
    border: 1px solid #8D0F10;
}


input.mesends:hover {
    color: #2F2F33;
    background: #ffffff;
    border: 1px solid #8D0F10;
}

a.leexpiers_l3:hover {
    color: #2f2f33;
    background-color: white;
}

.menuheadme_1.menustyle a:hover {
    color: #8d0f10;
    text-decoration: underline;
}

.whiteblockmain:hover, .bnr_doppordin:hover, .cariitmone:hover, .bgabout:hover, .bgabout:hover .bgabout-title {
    color: #FFF;
}

.whiteblockmain:hover .redstoarr, .bnr_doppordin:hover .redstoarr, .cariitmone:hover .redstoarr, .bgabout:hover .redstoarr{
    width: 1600px;
    height: 1600px;
    right: 0;
    bottom: 0;
    transform: translate(260px, 300px);
}
.cariitmone:hover .redstoarr{
    width: 2000px;
    height: 2000px;
    transform: translate(470px, 300px);
}
.whiteblockmain:hover span.arrg, .bnr_doppordin:hover span.arrg, .cariitmone:hover span.arrg, .bgabout:hover span.arrg {
    transform: rotate(-45deg);
}

.bnr_doppordin:hover .bnr_doppord_bg2 {
    opacity: 1;
}

.bnr_doppordin:hover .bnr_doppord_bg {
    opacity: 0;
}
