@media (max-width: 767px) {

    .overpopmenu .headsblocks_phone {
        display: none;
    }
  
    .headsblocks_r {
        width: auto;
    }
  
    .headsblocks_llogo {
        margin-left: 24px;
    }
  
    .navibl2 {
        display: none;
    }
  
    .headsblocks {
        padding: 16px 0;
    }
  
    .container {
        padding: 0 16px;
    }
  
    .container {
        padding: 0 16px;
    }
  
    .elemsexperence_r {
        margin-right: -16px;
    }
  
    .listnumerics {
        margin: 0 -16px;
        padding: 0 16px 30px;
    }
  
    .whiteslidebe {
        padding: 24px 16px;
        margin: 0 -16px;
        width: calc(100% + 32px);
    }
  
    .blockinmains {
        margin-top: 30px;
        position: absolute;
    }
  
    .blockinmains.listexpirs.spaceexpir {
        margin-top: 0;
    }
  
    .blockinmains_l1 {
        font-size: 36px;
    }
  
    .blockinmains_l2 {
        margin-top: 16px;
        padding-right: 4px;
    }
  
    .whiteblockmain1 {
        font-size: 20px;
    }
  
    .whiteblockmain3 {
        margin-top: 12px;
    }
  
    .whiteblockmain {
        padding: 24px;
    }
  
    .overpage.phone.about .bgishill .blockinmainstext .whiteblockmain {
        margin-top: 0;
    }
  
    .overpage.phone.about .bgishill .blockinmainstext .blockinmains_l {
        margin-bottom: 0;
    }
  
    .overpage.phone.about .bgishill .blockinmainstext .blockinmains_l2 {
        margin-top: 8px;
        margin-bottom: 15px;
    }
  
    .carrierblock_bg {
        top: -43px;
    }
  
    .ltorcontacts .watermark img {
        transform: scale(.4);
    }
  
    .ltorcontacts .watermark {
        top: -9%;
        display: none;
    }
  
    .bx-breadcrumb i.fa.fa-angle-right {
        margin: 0 4px;
    }
  
    .bx-breadcrumb .bx-breadcrumb-item {
        margin-bottom: 6px;
        margin-right: 4px;
    }
  
    .bx-breadcrumb {
        display: block;
        white-space: normal;
    }
  
    .menuheadme {
        flex-direction: column;
    }
  
    .menuheadme_1.menustyle {
        width: 100%;
    }
  
    .headoblast {
        padding: 32px 0;
    }
  
    .menuheadme_2.menustyle {
        width: 100%;
    }
  
    .menustyle a {
        font-size: 24px;
        /* margin-bottom: 20px; */
    }
  
    .smals_links a {
        font-size: 14px;
        margin-bottom: 20px;
    }
  
    .menustyle ul {
        width: 100%;
    }
  
    .overpopmenu.active {
        height: auto;
    }
  
    .bnr_doppordin {
        padding: 24px 0 24px 24px;
    }
  
    .bnr_doppord_title {
        font-size: 20px;
    }
  
    .rtis_l {
        width: 100%;
    }
  
    .rtis_r {
        width: 100%;
    }
  
    .headoblast_r {
        position: static;
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
    }
  
    .headoblast_r1 {
        display: flex;
        margin-right: 0;
        flex-wrap: wrap;
    }
  
    .headoblast_r1 a {
        margin-right: 0;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
  
    .headoblast_r2 {
        margin-right: 0;
        margin-bottom: 20px;
    }
  
    .lekronlidebe {
        padding-top: 0;
        padding-bottom: 0;
        margin: 48px 0 40px;
        height: auto;
        min-height: 100vh;
    }
  
    .titlesbe3 {
        margin-bottom: 24px;
    }
  
    .titlesbe h1,
    .dopstitle {
        font-size: 28px;
    }
  
    .errpage_title1 {
        font-size: 28px;
    }
  
    .errpage_logo {
        margin-bottom: 0;
    }
  
    .hretiks_l_title {
        font-size: 26px;
        margin-bottom: 16px;
    }
  
    .hretiks_r_title {
        font-size: 24px;
        margin-top: 24px;
    }
  
    .nomenclatsblock {
        margin: 16px 0;
    }
  
    a.sliferlink {
        margin-top: 0;
        width: 100%;
    }
  
    .whiteslidebe .titlesbe2 {
        margin-bottom: 24px;
    }
  
    .slifer-title {
        font-size: 26px;
        margin-bottom: 16px;
    }
  
    .slifer-text {
        margin-bottom: 32px;
    }
  
    .sliferonesitemin_l {
        margin-right: 16px;
    }
  
    .sliferonesitemin_r {
        margin-top: 30px;
    }
  
    .whiteslidebe .whiteblockmain {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%;
        max-width: 100%;
        height: 220px;
    }
  
    .overfootleft ul.slick-dots li {
        width: 90px;
        margin-right: 0;
    }
  
    .overfootleft ul.slick-dots li+li {
        margin-left: 12px;
    }
  
    .container.mainsects2 {
        /* margin-bottom: 48px; */
        margin-bottom: 0;
        height: auto;
        min-height: 100vh;
    }
  
    .bgabout-title {
        font-size: 20px;
    }
  
    .bgabout {
        padding: 24px;
    }
  
    .lanumsba .lanumstv1 {
        font-size: 48px;
    }
  
    .lanumsba2 {
        text-align: left;
    }
  
    .lanumsba2 .lanumstv1 {
        font-size: 48px;
        margin-top: 32px;
    }
  
    .lanums {
        margin-bottom: 32px;
    }
  
    .listnumerics_weis2 .elanums {
        flex-wrap: wrap;
        justify-content: start;
    }
  
    .elanumsba .lanumstv1,
    .elanumsba2 .lanumstv1 {
        font-size: 48px;
    }
  
    .elanumsba3 {
        width: 48%;
        text-align: right;
    }
  
    .elanumsba2 {
        width: 48%;
    }
  
    .elanumsba {
        width: 100%;
        margin-bottom: 32px;
    }
  
    .elanumsba3 .lanumstv1 {
        font-size: 48px;
    }
  
    .listnumerics {
        margin-bottom: 0;
    }
  
    .container.mainsects4 {
        margin: 48px auto;
    }
  
    .osoblocki_l {
        margin-bottom: 32px;
        position: sticky;
        top: 40px;
    }
  
    .scroll-cards__item {
        top: 120px;
    }
  
    .menuheads {
        height: auto;
    }
  
    .spoimtem {
        padding: 24px;
        margin-bottom: 12px;
        width: calc(100% - 50px);
    }
  
    .spoimtem1 {
        font-size: 18px;
        margin-bottom: 32px;
        max-width: 100%;
        min-height: 81px;
    }
  
    .spoimtem2 {
        flex-wrap: wrap;
    }
  
    .spoimtem21 {
        width: 100%;
    }
  
    .spoimtem22 {
        margin-left: 0;
        font-size: 24px;
        width: 100%;
        margin-top: 8px;
    }
  
    .osoblock {
        margin-bottom: 48px;
        padding: 0;
    }
  
    .woliiesslide {
        margin-bottom: 32px;
    }
  
    .slideby_ing1 {
        font-size: 24px;
    }
  
    .slideby_ing2 {
        font-size: 18px;
    }
  
    .footersformsin {
        padding: 24px;
    }
  
    .formsthorow .formsone {
        width: 100%;
    }
  
    .formsthorow {
        margin-bottom: 12px;
        flex-wrap: wrap;
    }
  
    .formsthorow .formsone:nth-child(1) {
        margin-bottom: 12px;
    }
  
    label.custom-file-upload {
        padding: 0 29px;
        box-sizing: border-box;
    }
  
    input.mesends {
        width: 100%;
    }
  
    .foots1 {
        flex-wrap: wrap;
    }
  
    .foots11 {
        width: 100%;
        margin-bottom: 20px;
        order: 2;
    }
  
    .foots12 {
        width: 100%;
        flex-flow: row wrap;
        gap: 0 10px;
    }
  
    .foots12 a {
        display: block;
        flex: 100%;
        width: 100%;
    }
  
    .foots2 {
        flex-wrap: wrap;
    }
  
    .foots21 {
        margin-bottom: 16px;
    }
  
    .leexpiers_l1 {
        font-size: 26px;
        margin-bottom: 16px;
    }
  
    a.leexpiers_l3 {
        margin-top: 22px;
        width: 100%;
    }
  
    .blockinmains.listexpirs.spaceexpir {
        padding-top: 48px;
    }
  
    .winsliwinini {
        flex-wrap: wrap;
    }
  
    .winsliwinini_l {
        width: 100%;
        text-align: left;
        margin-bottom: 24px;
    }
  
    .leexpiers_whiteslider {
        padding: 24px;
    }
  
    .winsliwin_img img {
        float: left;
    }
  
    .winsliwinini_r {
        width: 100%;
    }
  
    .winsliwin_title {
        font-size: 20px;
    }
  
    .elemsexperence_l {
        margin-bottom: 40px;
    }
  
    .elemsexperence_r {
        margin-bottom: 38px;
    }
  
    .elemsexperence {
        padding-bottom: 48px;
    }
  
    .samples_list .slick-list {
        margin-right: -12px;
        width: calc(100% + 11px);
    }
  
    .samples_goodin {
        padding: 24px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
  
    .samples_good_l {
        width: 100%;
    }
  
    .samples_good_r {
        width: 100%;
        text-align: left;
    }
  
    span.incombtm3 {
        /* display: none; */
        width: 12px;
        height: 12px;
    }
  
    .overpopmenu.fixed a.mainb_compare {
        margin: 8px 4px 1px 0;
    }
  
    .titlesbe {
        margin-bottom: 16px;
    }
  
    .bx-breadcrumb {
        padding: 24px 0 24px;
    }
  
    .smallcats_prod {
        margin-bottom: 32px;
    }
  
    #set_filter,
    #del_filter {
        margin-top: 0px;
    }
  
  
    #set_filter,
    #del_filter {
        height: 38px;
        width: 125px;
        font-size: 14px;
        margin-right: 12px;
    }
  
    .foundslist {
        margin-bottom: 16px;
    }
  
    .prodsfilters {
        margin-bottom: 24px;
        padding: 24px 20px;
    }
  
    .oneitemprod {
        width: 100%;
        margin-bottom: 12px;
        padding: 24px;
    }
  
    a.oneinprods_name {
        display: block;
        max-width: calc(100% - 25px);
        font-size: 20px;
    }
  
    .elementprods_l {
        margin-bottom: 12px;
    }
  
    .elementprods_1 {
        padding: 24px;
        margin-bottom: 12px;
    }
  
    .elementprods_title {
        font-size: 24px;
        margin-bottom: 16px;
    }
  
    .elementprods_btns {
        margin-top: 24px;
    }
  
    .onesgitdata1 {
        max-width: 71%;
    }
  
    .onesgitdata1,
    .onesgitdata2 {
        font-size: 12px;
    }
  
    .elementprods {
        margin-bottom: 40px;
    }
  
    .blockinmains {
        bottom: 20px;
    }
  
    .tselibl_l {
        margin-bottom: 32px;
    }
  
    .tselone2 {
        display: none;
    }
  
    .tselone1 {
        color: #0C0C0D;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin-left: 0;
        width: 100%;
    }
  
    .tselonein {
        padding-top: 24px;
    }
  
    .titlesbe_perech {
        margin-bottom: 32px;
    }
  
    .pereschwhites {
        width: 100%;
        margin-bottom: 12px;
    }
  
  
    .pereschwhites_title {
        font-size: 20px;
    }
  
    .pereschwhites_list {
        flex-wrap: wrap;
    }
  
    .spacetop80 {
        margin-top: 48px;
    }
  
    .spacebot80 {
        margin-bottom: 48px;
    }
  
    .allstory.spacetop80.spacebot80 .storyline {
        margin: 48px auto 0;
    }
  
    .onestoryin1 {
        padding-bottom: 5px;
        font-size: 40px;
    }
  
    .filelistin {
        justify-content: space-between;
    }
  
    .fileitem {
        padding: 16px 16px 46px;
        width: 48%;
        margin-left: 0;
        margin-bottom: 12px;
        box-sizing: border-box;
    }
  
    .fileitem .redstoarr {
        width: 48px;
        height: 48px;
        right: 10px;
        bottom: 10px;
    }
  
    a.redstoarr {
        width: 48px;
        height: 48px;
    }
  
    .fileitem span.arrg {
        right: 22px;
        bottom: 22px;
    }
  
    .cariitmone_1 {
        padding-bottom: 50px;
    }
  
    .cariitmone_11 {
        font-size: 24px;
    }
  
  
    a.redstoarr.jscarier {
        margin-top: 35px;
    }
  
    .cariitmone {
        padding: 24px;
    }
     
  
    .formtitle {
        font-size: 24px;
    }
  
    .carrierblock_l .bgpop_formin {
        margin-bottom: 48px;
        padding: 24px;
    }
  
    .cariorblockin {
        font-size: 14px;
    }
  
    .ltorconwhite {
        padding: 24px;
    }
  
    .ltorcontactsl_bl {
        margin-bottom: 16px;
    }
  
    .ltorcontactsl_bl2 {
        font-size: 18px;
    }
  
    .ltorcontactsin {
        margin-bottom: 48px;
    }
  
    .oneperson {
        margin-bottom: 12px;
    }
  
    .onepersonin {
        flex-wrap: wrap;
    }
  
    .oneperson_l {
        width: 100%;
    }
  
    .oneperson_r {
        width: 100%;
    }
  
    .oneperson_rtitle {
        font-size: 24px;
    }
  
  
    .oneperson_blk1 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
  
    .showingsel_hide a {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
  
    .showingsel_hide {
        display: none;
    }
  
    .overselectin.active .showingsel_hide {
        display: block;
    }
  
    .overselect {
        display: block;
        width: 100%;
    }
  
    .showingsel {
        border-radius: 8px;
        border: 1px solid #C8C8E1;
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;
        box-sizing: border-box;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        cursor: pointer;
    }
  
  
    .showingsel_icon {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("../img/chevron-down.png");
    }
  
    span.wliners {
        gap: 10px;
    }
  
    span.wliners svg {
        min-width: 58px;
    }
  
    .onestoryin {
        width: 100%;
    }
  
    span.wliners .onestoryin {
        max-width: 100%;
    }
  
    span.wliners .onestoryin2 {
        word-wrap: break-word;
    }
  
    .onestory:nth-last-child(1) span.wliners svg {
        margin-top: 0;
    }
  
    .onestory:nth-last-child(1) .uline {
        max-height: 48px;
        overflow: hidden;
    }
  
    .onestory {
        padding-bottom: 80px;
        position: relative;
    }
  
    .onestory::before {
        content: '';
        position: absolute;
        top: 21px;
        bottom: -20px;
        left: 0;
        width: 1px;
        border-left: 1px dashed #c8c8e1;
    }
  
    .onestory:nth-last-child(1)::before {
        display: none;
    }
  
    .onestory.active::before {
        border-left: 1px dashed #8d0f10;
    }
  
    .spacestory {
        flex-wrap: wrap;
    }
  
    .spacestory_l::before,
    .spacestory_r::before {
        content: '';
        position: absolute;
        top: 21px;
        left: 0;
        width: 20px;
        border-top: 1px dashed #c8c8e1;
    }
  
    .onestory.active .spacestory_l::before,
    .onestory.active .spacestory_r::before {
        border-top: 1px dashed #8d0f10;
    }
  
    .spacestory_l,
    .spacestory_r {
        padding-left: 70px;
        box-sizing: border-box;
        width: 100%;
    }
  
    .onestory.right .uline,
    .onestory.left .uline {
        display: none;
    }
  
    .wliners svg {
        position: absolute;
        left: 20px;
        top: 10px;
    }
  
    .spacestory_r span.wliners svg {
        left: -87px;
    }
  
    .wliners svg line {
        display: none;
    }
  
  
    .prodsectionsin,
    .firstradiolist
     {
        display: block;
        position: relative;
        padding: 0 24px;
        border-radius: 8px;
        border: 1px solid #C8C8E1;
        user-select: none;
    }
  
    .prodsectionsin_text,
    .firstradiolist_text/*,
    .lisltcompr_text */{
        display: block;
        position: relative;
        cursor: pointer;
        margin: 0 -24px;
        padding: 20px 60px 20px 24px;
        color: #2F2F33;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
  
    .prodsectionsin.default .prodsectionsin_text,
    .firstradiolist.default .firstradiolist_text {
        color: #4e4e51;
    }
  
    .prodsectionsin .prodsectionsin_wrapper,
    .firstradiolist .firstradiolist_wrapper/*,
    .lisltcompr .lisltcompr_wrapper */{
        display: none;
        padding-bottom: 14px;
    }
  
    .prodsectionsin .prodsectionsin_wrapper a/*,
    .lisltcompr .lisltcompr_wrapper a*/ {
        width: fit-content;
        border: 0;
        background: none;
        padding: 4px 0;
        margin: 10px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
  
    .lisltcompr .lisltcompr_wrapper a {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        height: auto;
    }
  
    .prodsectionsin .prodsectionsin_wrapper a:hover,
    .prodsectionsin .prodsectionsin_wrapper a.active /*,
   .lisltcompr .lisltcompr_wrapper a:hover,
    .lisltcompr .lisltcompr_wrapper a.active*/ {
        background: none;
        color: #8d0f10;
    }
  
    .prodsectionsin_text::after,
    .firstradiolist_text::after/*,
    .lisltcompr_text::after */{
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        right: 24px;
        background: url("../img/chevron.svg") no-repeat center/cover;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
  
    .prodsectionsin.opened .prodsectionsin_text::after,
    .firstradiolist.opened .firstradiolist_text::after,
    .lisltcompr.opened .lisltcompr_text::after {
        transform: translateY(-50%) rotate(180deg);
    }
  
    .firstradiolist span.radio_list_checkbox {
        width: fit-content;
    }
  
    .firstradiolist span.radio_list_checkbox input {
        display: none;
    }
  
    .firstradiolist span.radio_list_checkbox .radio_list-text {
        margin: 10px 0;
        padding: 4px 0;
    }
  
    .goods_comparesin {
        margin-right: -16px;
        margin-left: -16px;
        width: calc(100% + 32px);
    }
  
  
    a.btn_compare.jscompare {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        gap: 6px;
  
    }
    a.btn_compare.jscompare svg {
        display: block;
        margin-top: -5px;
    }
  
    a.btncartd.jsbezaya {
        display: block;
        margin: 0px;
        text-align: center;
    }
  
    .bgishill {
        background-size: cover;
    }
  
    .bgishill.bgto_laboratory {
        min-height: 600px;
        background-size: cover;
        background-position: center;
    }
  
    .prodisl_list {
        flex-wrap: nowrap;
        max-width: calc(100% + 16px);
        margin-right: -16px;
        overflow-x: auto;
        gap: 12px;
    }
  
    .prodisl_listitem {
        width: 300px;
        min-width: 300px;
    }
  
    .listgins {
        padding: 24px;
    }
  
    .goods_compares_list {
        width: fit-content;
    }
  
    .linetitle {
        width: 160px;
    }
  
    .sliderstipi {
        margin: 64px -16px;
        padding-top: 100px;
    }
  
    .sliderstipibg {
        width: 130%;
        left: -8%;
    }
  
    .sliderstip_list {
        margin: 0 -160px;
    }
  
    .mainsects1 .slifelekron .slick-slide {
        height: 710px;
    }
  
    .mainsects1 .slifelekron .hretiks {
        flex-direction: column;
        height: 710px;
    }
  }
  
  
  @media (max-width: 575px) {
     /*.mainb_compare {
        padding: 16px;
    }
  
    .prodsectionsin_text,
    .firstradiolist_text {
        padding: 20px 40px 20px 24px;
    }
  
    .prodsectionsin_text::after,
    .firstradiolist_text::after {
        right: 10px;
    }
  
    .goods_compares_list {
        width: calc(100% - 32px);
        flex-wrap: wrap;
        row-gap: 6px;
        column-gap: 12px;
        padding: 16px;
        background: transparent;
    }
  
    .goods_compares_list.mobile_compare_btns {
        padding-top: 0;
    }
  
    .linetitle {
        width: 100%;
    }
  
    .linetitle_good {
        display: none;
        width: calc(50% - 46px);
    }
  
   .mobile_compare_btns {
        display: flex;
    }
  
    .a.empty_compare_btn {
        padding: 20px 20px;
    }
  
    .compare_btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: calc(50% - 12px);
    }*/
  
    .sliderstipi {
        padding: 75px 0 0;
        margin: 64px -16px;
    }
  
    .sliderstip_list {
        margin: 0;
    }
  
    /* .sliderstipibg {
          width: 1020px;
          left: -54px;
          top: -20px;
      } */
    .myonfrolin_img {
        height: 400px;
    }
  
    .bnr_doppordin {
        height: 460px;
        padding-bottom: 12px;
    }
  
    .bnr_doppord_bg,
    .bnr_doppord_bg2 {
        width: 295px;
        height: 270px;
    }
  
    .bnr_doppordin .rtis_r {
        width: 295px;
        height: 270px;
        top: 115px;
        right: -24px;
    }
  
    .bnr_doppord_desc {
        margin: 0;
    }
  
    .bnr_doppord_foot {
        width: fit-content;
    }
  
    .doppordin_wrapper {
        height: 100%;
        padding-right: 24px;
    }
  
    .doppordin_wrapper .rtis_l {
        max-width: 100%;
    }
  
    .bnr_doppordin .redstoarr {
        right: 24px !important;
        bottom: 12px !important;
    }
  
    .bnr_doppordin span.arrg {
        right: 42px;
        bottom: 31px;
    }
  
    .mainsects1 .slifelekron .hretiks,
    .mainsects1 .slifelekron .slick-slide {
        height: 750px;
    }
  
    .overfootleft ul.slick-dots li {
        width: 80px;
    }
  
    .slide_whites {
        padding: 24px 24px;
    }
  
    .sliderbies_l {
        margin-left: 0;
    }
  
    .container.mainsects6 .mydecision .sliderbies {
        left: 50%;
        transform: translateX(-50%);
    }
  
    .bx-blue .btn.btn-default {
        margin-left: 0 !important;
    }
  
    .comparetosect {
        align-items: unset;
    }
  
    .lisltcompr a span {
        width: 30px;
        min-width: 30px;
        height: 30px;
    }
  
    /*  */
  
    .product-slider__item {
        padding-bottom: 50px;
        flex-wrap: wrap;
    }
  
    .product-slider__name {
        font-size: 24px;
    }
  
    .product-slider__img video {
        width: 100% !important;
        height: auto !important;
    }
  
    .swiper-horizontal>.swiper-pagination-bullets.product-slider__pagination .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets.product-slider__pagination .swiper-pagination-bullet {
        width: calc(33.33% - 10px);
    }
    
    /*  */
  
    .application-slider__swiper {
        margin: 0 -30px 10px;
        width: calc(100% + 60px);
    }
  
    .application-slider__item {
        padding-bottom: 60px;
        flex-wrap: wrap;
        background: #fff;
    }
  
    .application-slider__content {
        padding: 0 32px;
        margin-bottom: 24px;
        padding-bottom: 0;
        width: 100%;
    }
  
    .application-slider__img {
        padding-bottom: 0;
        width: 100%;
    }
  
    .application-slider__name {
        font-size: 24px;
    }
  
    a.application-slider__link {
        margin-top: 30px;
        width: 100%;
    }
  
    .swiper-horizontal>.swiper-pagination-bullets.application-slider__pagination,
    .swiper-pagination-bullets.swiper-pagination-horizontal.application-slider__pagination {
        bottom: 10px;
        left: 32px;
        width: calc(100% - 60px);
    }
  
  
    .swiper-horizontal>.swiper-pagination-bullets.application-slider__pagination .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets.application-slider__pagination .swiper-pagination-bullet {
        width: calc(33.33% - 10px);
    }
  
    .application-slider__img video {
        width: 100% !important;
        height: auto !important;
    }
  
    .application-slider .whiteslidebe .whiteblockmain {
        right: 0px;
    }
  
    .whiteblockmain:hover, 
    .bnr_doppordin:hover, 
    .cariitmone:hover, 
    .bgabout:hover {
      color: #0C0C0D;
    }
    .whiteblockmain:hover .redstoarr, .bnr_doppordin:hover .redstoarr, .cariitmone:hover .redstoarr, .bgabout:hover .redstoarr {
      width: 62px;
      height: 62px;
      transform: translate(0, 0);
      right: 30px;
      bottom: 30px;
    }
    .bnr_doppordin:hover .redstoarr,
    .cariitmone:hover .redstoarr {
      right: 0;
      bottom: 0;
    }
    .overpopmenu .menuheads {
      height: calc(100vh - 70px);
    }
    .fltarrFilter_206 span.list_checkbox input:checked+.list_checkbox_text {
      transition: none;
    }
    .bx-filter .bx-filter-param-label {
      margin-right: 12px;
      display: inline-block;
    }
    .span.list_checkbox .list_checkbox_text {
      margin-right: 0;
      display: inline-block;
    }
    label:hover {
      -webkit-tap-highlight-color: transparent;
      }
      span.list_checkbox .list_checkbox_text {
        font-size: 12px;
        margin-right: 0;
        margin-bottom: 12px;
        padding: 8px 12px;
    }
.company-history {
padding-top: 30px;
	}

.company-history__item {
      width: 100%;
height: auto;
font-size: 14px;
  }
.company-history__year {
      font-size: 60px;
    }

.company-history__item:nth-child(2n) {
      margin-top: 0;
    }

  }
  
  @media (max-width: 500px) {
  
    .mainsects1 .slifelekron .hretiks,
    .mainsects1 .slifelekron .slick-slide {
        height: 800px;
    }
  }
  
  @media (max-width: 405px) {
  
    .mainsects1 .slifelekron .hretiks,
    .mainsects1 .slifelekron .slick-slide {
        height: 830px;
        height: auto;
    }
  
    .titlesbe h1,
    .dopstitle {
        font-size: 24px;
    }
  
    .empty_compare {
        margin: 100px auto;
    }
  
    a.empty_compare_btn {
        padding: 20px;
    }
  }
  
  @media (max-width: 340px) {
  
    .mainsects1 .slifelekron .hretiks,
    .mainsects1 .slifelekron .slick-slide {
        height: 885px;
        height: auto;
    }
  
    .titlesbe h1,
    .dopstitle {
        font-size: 22px;
    }
  }